{
  "openapi": "3.1.0",
  "info": {
    "title": "Calibrate Public API",
    "version": "0.1.0",
    "description": "Programmatic API for CI/automation. Pass your key in the `X-API-Key` header."
  },
  "servers": [
    {
      "url": "https://api.calibrate.artpark.ai",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "AgentCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Agent name, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate",
            "default": "agent"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`** (built inside Calibrate):\n- `system_prompt` (string): the agent's instructions\n- `llm.model` (string): `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider` (string): `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider` (string): `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first` (bool), `settings.max_assistant_turns` (int)\n- `system_tools.end_call` (bool, optional): let the agent end the call\n- `data_extraction_fields` (array, optional): `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`** (your own HTTP endpoint):\n- `agent_url` (string, required): public HTTPS endpoint the agent is called at\n- `agent_headers` (object, optional): headers sent on each request, e.g. auth\n- `benchmark_provider` (string, optional): `openrouter` (default), `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nFor `type=agent`, omitted keys inherit managed defaults (omit `config` entirely to use all defaults). For `type=connection`, `config` is stored as-is and must contain `agent_url`."
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentCreate"
      },
      "AgentCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AgentCreateResponse"
      },
      "AgentTestRunCreateResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Current status of the test run"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "AgentTestRunCreateResponse"
      },
      "AgentUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New agent name. Omit to leave the name unchanged"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`** (built inside Calibrate):\n- `system_prompt` (string): the agent's instructions\n- `llm.model` (string): `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider` (string): `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider` (string): `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first` (bool), `settings.max_assistant_turns` (int)\n- `system_tools.end_call` (bool, optional): let the agent end the call\n- `data_extraction_fields` (array, optional): `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`** (your own HTTP endpoint):\n- `agent_url` (string, required): public HTTPS endpoint the agent is called at\n- `agent_headers` (object, optional): headers sent on each request, e.g. auth\n- `benchmark_provider` (string, optional): `openrouter` (default), `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nReplaces the stored config. Omit to leave unchanged.\n\nFor `type=connection`, changing `agent_url` or `agent_headers` resets the connection and benchmark verification flags."
          }
        },
        "type": "object",
        "title": "AgentUpdate"
      },
      "BatchRunRequest": {
        "properties": {
          "agent_names": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Names",
            "description": "Agents to run. Omit to run every agent in your workspace",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "title": "BatchRunRequest"
      },
      "BatchTestRun": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the agent that was run",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Initial status of the test run"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "task_id",
          "status"
        ],
        "title": "BatchTestRun"
      },
      "BatchTestRunResponse": {
        "properties": {
          "runs": {
            "items": {
              "$ref": "#/components/schemas/BatchTestRun"
            },
            "type": "array",
            "title": "Runs",
            "description": "Test runs that were launched"
          },
          "skipped": {
            "items": {
              "$ref": "#/components/schemas/BatchTestSkip"
            },
            "type": "array",
            "title": "Skipped",
            "description": "Agents that were skipped instead of failing the batch",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "runs"
        ],
        "title": "BatchTestRunResponse"
      },
      "BatchTestSkip": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the skipped agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the skipped agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "reason": {
            "type": "string",
            "title": "Reason",
            "description": "Why this agent was not run"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "reason"
        ],
        "title": "BatchTestSkip"
      },
      "BulkTestItem": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test, unique within the workspace and within the batch"
          },
          "conversation_history": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Conversation History",
            "description": "Ordered messages ending at the user turn the agent should answer (must be non-empty)"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. Used by `response` and `conversation` tests"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ExpectedToolCall"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Expected tool calls. **Required for `tool_call` batches**"
          }
        },
        "type": "object",
        "required": [
          "name",
          "conversation_history"
        ],
        "title": "BulkTestItem"
      },
      "BulkTestUpload": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n\nApplied to every test in the batch."
          },
          "tests": {
            "items": {
              "$ref": "#/components/schemas/BulkTestItem"
            },
            "type": "array",
            "title": "Tests",
            "description": "Test items to create (non-empty, max 500 per request, names unique within the batch)"
          },
          "agent_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Uuids",
            "description": "Agents (IDs) to link every created test to. Omit to link none",
            "examples": [
              [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ]
            ]
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language",
            "description": "Language written to each test's `config.settings.language`. Omit to leave unset"
          }
        },
        "type": "object",
        "required": [
          "type",
          "tests"
        ],
        "title": "BulkTestUpload"
      },
      "BulkTestUploadResponse": {
        "properties": {
          "uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Uuids",
            "description": "IDs of the created tests, in request order",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of tests created"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Non-fatal issues (e.g. agents some tests couldn't link to). Null when there were none"
          }
        },
        "type": "object",
        "required": [
          "uuids",
          "count",
          "message"
        ],
        "title": "BulkTestUploadResponse"
      },
      "ChatMessage": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "tool"
            ],
            "title": "Role",
            "description": "Message author role in the conversation history"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Message text. Omit for assistant messages that only carry `tool_calls`"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Tool calls issued by the assistant. Omit for plain text turns"
          },
          "tool_call_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Call Id",
            "description": "ID of the tool call this message responds to. **Required for `role=tool`**"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Tool name for `role=tool` messages. Omit otherwise"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatMessage"
      },
      "ExpectedToolCall": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent is expected to call"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Expected argument values, diffed against the generated call. Omit to expect no arguments"
          },
          "accept_any_arguments": {
            "type": "boolean",
            "title": "Accept Any Arguments",
            "description": "When `true`, only the tool name must match and `arguments` is ignored",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ExpectedToolCall"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JudgeResult": {
        "properties": {
          "evaluator_uuid": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Uuid",
            "description": "ID of the evaluator that produced this verdict"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "Judge's rationale for this verdict"
          },
          "match": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Match",
            "description": "Pass/fail verdict, for binary evaluators"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score",
            "description": "Numeric score, for rating evaluators"
          },
          "value_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Value Name",
            "description": "Readable label for the verdict, from the run's rubric"
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "`{{var}}` substitutions used for this evaluator on this test case"
          }
        },
        "type": "object",
        "title": "JudgeResult"
      },
      "ResolveAgentNamesRequest": {
        "properties": {
          "names": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Names",
            "description": "Agent names to resolve to IDs",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "names"
        ],
        "title": "ResolveAgentNamesRequest"
      },
      "ResolveAgentNamesResponse": {
        "properties": {
          "resolved": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "description": "Map of name to agent ID for each name that matched"
          },
          "not_found": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Names with no matching agent in your workspace"
          }
        },
        "type": "object",
        "required": [
          "resolved",
          "not_found"
        ],
        "title": "ResolveAgentNamesResponse"
      },
      "RunTestRequest": {
        "properties": {
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "Tests to run. Omit to run all tests linked to the agent",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "title": "RunTestRequest"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "cancelled",
          "done",
          "failed"
        ],
        "title": "TaskStatus"
      },
      "TestCaseResult": {
        "properties": {
          "test_case_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Case Id",
            "description": "ID of the test case within the run"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Name of the test"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Whether the case passed. Present only when done"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "Judge reasoning, or the tool-call diff for tool-call tests"
          },
          "output": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestOutput"
              },
              {
                "type": "null"
              }
            ],
            "description": "The agent's output for this case. Present only when done"
          },
          "test_case": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The input test case definition. Present only when done"
          },
          "judge_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/JudgeResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Judge Results",
            "description": "One verdict per evaluator, for response and conversation tests. Null for tool-call tests or rows still running"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms",
            "description": "Response latency in milliseconds for the agent under test"
          },
          "cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost",
            "description": "Cost of this case in USD"
          }
        },
        "type": "object",
        "title": "TestCaseResult"
      },
      "TestCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The calibrate test config. Three top-level keys.\n\n- `history` (array, required): the conversation up to the agent's turn. Each item is `{role, content}` with `role` one of `user`, `assistant`, `tool`. A `tool` message also carries `tool_call_id` and `name`.\n- `evaluation` (object, required): `{type, ...}`, where `type` matches the test's `type` (below).\n- `settings` (object, optional): e.g. `{\"language\": \"en\"}`.\n\n`evaluation` by test type:\n- `response`: judge the agent's reply, graded by the linked evaluators. `{\"type\": \"response\"}`\n- `conversation`: append the reply and judge the whole conversation. `{\"type\": \"conversation\"}`\n- `tool_call`: diff the agent's tool calls against expected ones. Add `tool_calls`, a list of `{tool, arguments, accept_any_arguments?}`.\n\nFor `tool_call`, each expected argument value is one of:\n- `{\"match_type\": \"exact\", \"value\": <any>}`: must equal `value`\n- `{\"match_type\": \"llm_judge\", \"criteria\": \"...\"}`: judged against the criteria\n- `{\"match_type\": \"any\"}`: any value, only checks the argument was passed\n\n`response` / `conversation` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"What is your return policy?\"}],\n  \"evaluation\": {\"type\": \"response\"},\n  \"settings\": {\"language\": \"en\"}\n}\n```\n\n`tool_call` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"Book room 101 for tomorrow\"}],\n  \"evaluation\": {\n    \"type\": \"tool_call\",\n    \"tool_calls\": [\n      {\n        \"tool\": \"book_room\",\n        \"arguments\": {\n          \"room\": {\"match_type\": \"exact\", \"value\": \"101\"},\n          \"date\": {\"match_type\": \"llm_judge\", \"criteria\": \"tomorrow's date\"}\n        },\n        \"accept_any_arguments\": false\n      }\n    ]\n  }\n}\n```\n\nEvaluators are linked via the separate `evaluators` field, not inside `config`.\n\nOmit to create the test with no config and fill it in later via update."
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. Used by `response` and `conversation` tests"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "TestCreate"
      },
      "TestCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created test",
            "examples": [
              "b1c2d3e4-f5a6-7890-bcde-f12345678901"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "TestCreateResponse"
      },
      "TestOutput": {
        "properties": {
          "response": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response",
            "description": "The agent's generated reply. Null for tool-call-only cases"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ToolCallOutput"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Tool calls the agent generated. Null when it made none"
          }
        },
        "type": "object",
        "title": "TestOutput"
      },
      "TestRunEvaluator": {
        "properties": {
          "uuid": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uuid",
            "description": "ID of the evaluator"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Name of the evaluator"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "What the evaluator checks"
          },
          "output_type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "binary",
                  "rating"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Type",
            "description": "Verdict shape: pass/fail or a numeric rating"
          },
          "output_config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Rubric: the scale values, labels, and colors a verdict maps to"
          },
          "scale_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale Min",
            "description": "Lowest rating value. Set for rating evaluators"
          },
          "scale_max": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale Max",
            "description": "Highest rating value. Set for rating evaluators"
          },
          "version_number": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Version Number",
            "description": "Evaluator version this run used"
          }
        },
        "type": "object",
        "title": "TestRunEvaluator"
      },
      "TestRunStatusResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the test run"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total number of test cases. Null until known"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed. Null until done"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed. Null until done"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated response latency in milliseconds: `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage `{mean, min, max, count}`"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunEvaluator"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "The evaluators used in this run. Each verdict in `judge_results` links to one of these by `evaluator_uuid`"
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results",
            "description": "Results for each test case. Null until available"
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Public share token. Null unless the run is public"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "TestRunStatusResponse"
      },
      "TestUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New test name. Omit to leave unchanged"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "response",
                  "tool_call",
                  "conversation"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n\nImmutable. Omit, or send the existing value. A different value is rejected (400)."
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The calibrate test config. Three top-level keys.\n\n- `history` (array, required): the conversation up to the agent's turn. Each item is `{role, content}` with `role` one of `user`, `assistant`, `tool`. A `tool` message also carries `tool_call_id` and `name`.\n- `evaluation` (object, required): `{type, ...}`, where `type` matches the test's `type` (below).\n- `settings` (object, optional): e.g. `{\"language\": \"en\"}`.\n\n`evaluation` by test type:\n- `response`: judge the agent's reply, graded by the linked evaluators. `{\"type\": \"response\"}`\n- `conversation`: append the reply and judge the whole conversation. `{\"type\": \"conversation\"}`\n- `tool_call`: diff the agent's tool calls against expected ones. Add `tool_calls`, a list of `{tool, arguments, accept_any_arguments?}`.\n\nFor `tool_call`, each expected argument value is one of:\n- `{\"match_type\": \"exact\", \"value\": <any>}`: must equal `value`\n- `{\"match_type\": \"llm_judge\", \"criteria\": \"...\"}`: judged against the criteria\n- `{\"match_type\": \"any\"}`: any value, only checks the argument was passed\n\n`response` / `conversation` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"What is your return policy?\"}],\n  \"evaluation\": {\"type\": \"response\"},\n  \"settings\": {\"language\": \"en\"}\n}\n```\n\n`tool_call` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"Book room 101 for tomorrow\"}],\n  \"evaluation\": {\n    \"type\": \"tool_call\",\n    \"tool_calls\": [\n      {\n        \"tool\": \"book_room\",\n        \"arguments\": {\n          \"room\": {\"match_type\": \"exact\", \"value\": \"101\"},\n          \"date\": {\"match_type\": \"llm_judge\", \"criteria\": \"tomorrow's date\"}\n        },\n        \"accept_any_arguments\": false\n      }\n    ]\n  }\n}\n```\n\nEvaluators are linked via the separate `evaluators` field, not inside `config`.\n\nReplaces the stored config. Omit to leave unchanged."
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "New evaluator links for the test. Omit to leave unchanged. An empty list clears them, except on `conversation` tests, which must keep at least one"
          }
        },
        "type": "object",
        "title": "TestUpdate"
      },
      "ToolCallOutput": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent called"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Arguments the agent passed to the tool. Null if none"
          },
          "output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Output",
            "description": "Tool execution result (any JSON value). Present only when the agent runs the tool and returns its result"
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ToolCallOutput"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "routers__agents__AgentResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the agent"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent configuration"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the agent was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the agent was last updated (ISO 8601 UTC)"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "AgentResponse"
      },
      "routers__tests__EvaluatorRef": {
        "properties": {
          "evaluator_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Evaluator Uuid",
            "description": "Evaluator to attach to the test",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Values for the evaluator's `{{placeholder}}` variables, pinned per test. Omit to inherit the evaluator version's defaults"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "evaluator_uuid"
        ],
        "title": "EvaluatorRef"
      },
      "routers__tests__TestResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Unique ID for the test",
            "examples": [
              "b1c2d3e4-f5a6-7890-bcde-f12345678901"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test"
          },
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Config for the test (`history`, `evaluation`, optional `settings`)"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "Timestamp when the test was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "Timestamp when the test was last updated (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "Linked evaluators, resolved to their current live version at read time",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "TestResponse"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    }
  },
  "paths": {
    "/agents/resolve": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Resolve agent names to IDs",
        "description": "Get the IDs for your agents by their names",
        "operationId": "resolve_agent_names_agents_resolve_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveAgentNamesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveAgentNamesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create agent",
        "description": "Create an agent to test inside Calibrate or connect your existing agent to Calibrate",
        "operationId": "create_agent_endpoint_agents_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List agents",
        "description": "Get the list of all your agents",
        "operationId": "list_agents_agents_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/routers__agents__AgentResponse"
                  },
                  "title": "Response List Agents Agents Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_uuid}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get agent",
        "description": "Get one agent by its ID",
        "operationId": "get_agent_endpoint_agents__agent_uuid__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to retrieve.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__agents__AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "Update agent",
        "description": "Update an agent's configuration",
        "operationId": "update_agent_endpoint_agents__agent_uuid__put",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to update.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__agents__AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests/bulk": {
      "post": {
        "tags": [
          "tests"
        ],
        "summary": "Bulk create tests",
        "description": "Create many test cases at once and link them to your agents",
        "operationId": "bulk_upload_tests_tests_bulk_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTestUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkTestUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests": {
      "post": {
        "tags": [
          "tests"
        ],
        "summary": "Create test",
        "description": "Create a test that runs your agent against a conversation and evaluates its answer quality or the tools it calls",
        "operationId": "create_test_endpoint_tests_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "List tests",
        "description": "List all the test cases for your agents",
        "operationId": "list_tests_tests_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/routers__tests__TestResponse"
                  },
                  "title": "Response List Tests Tests Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests/{test_uuid}": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get test",
        "description": "Get an agent test case by its ID",
        "operationId": "get_test_endpoint_tests__test_uuid__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test to retrieve",
              "examples": [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ],
              "title": "Test Uuid"
            },
            "description": "Test to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__tests__TestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tests"
        ],
        "summary": "Update test",
        "description": "Update an agent test case",
        "operationId": "update_test_endpoint_tests__test_uuid__put",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test to update",
              "examples": [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ],
              "title": "Test Uuid"
            },
            "description": "Test to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__tests__TestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/agent/{agent_uuid}/run": {
      "post": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Run agent tests",
        "description": "Run an agent's linked tests as a background job, returning a task ID to poll",
        "operationId": "run_agent_test_agent_tests_agent__agent_uuid__run_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to test.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to test."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTestRunCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/run": {
      "post": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Run agent tests in batch",
        "description": "Run agent tests for every agent, or for a selected set",
        "operationId": "run_tests_batch_agent_tests_run_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BatchRunRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTestRunResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/run/{task_id}": {
      "get": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Get test run status",
        "description": "Poll a test run for its status and evaluation results",
        "operationId": "get_agent_test_run_status_agent_tests_run__task_id__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test run to poll for status and results",
              "examples": [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ],
              "title": "Task Id"
            },
            "description": "Test run to poll for status and results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRunStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  }
}
