{
  "openapi": "3.1.0",
  "info": {
    "title": "Calibrate Public API",
    "version": "0.1.0",
    "description": "Programmatic API for CI/automation. Pass your key in the `X-API-Key` header."
  },
  "servers": [
    {
      "url": "https://api.calibrate.artpark.ai",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "AgentCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Agent name, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate",
            "default": "agent"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`**, built inside Calibrate:\n- `system_prompt`: the agent's instructions\n- `llm.model`: `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider`: `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider`: `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first`, `settings.max_assistant_turns`\n- `system_tools.end_call`: let the agent end the call\n- `data_extraction_fields`: `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`**, your own HTTP endpoint:\n- `agent_url`: public HTTP(S) endpoint your agent is called at\n- `agent_headers`: headers sent on each request, e.g. auth\n- `benchmark_provider`: `openrouter` by default. Other values: `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nFor `type=agent`, omitted keys inherit managed defaults. Omit `config` entirely to use all defaults. For `type=connection`, `config` is stored as-is and must contain `agent_url`"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentCreate"
      },
      "AgentCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AgentCreateResponse"
      },
      "AgentResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the agent"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent configuration"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the agent was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the agent was last updated (ISO 8601 UTC)"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "AgentResponse"
      },
      "AgentSummary": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the agent"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the agent was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the agent was last updated (ISO 8601 UTC)"
          },
          "connection_verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Connection Verified",
            "description": "Whether the agent's connection has been verified, for a `type=connection` agent"
          },
          "has_default_inputs": {
            "type": "boolean",
            "title": "Has Default Inputs",
            "description": "Whether the agent has custom request fields configured"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at",
          "has_default_inputs"
        ],
        "title": "AgentSummary"
      },
      "AgentTestRunCreateResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll it for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Current status of the run"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "AgentTestRunCreateResponse"
      },
      "AgentTestRunListItem": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Test run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Display name, such as `Run 1` for a unit test or `Benchmark 1` for a benchmark"
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the run"
          },
          "type": {
            "type": "string",
            "enum": [
              "llm-unit-test",
              "llm-benchmark"
            ],
            "title": "Type",
            "description": "What kind of run this is:\n- `llm-unit-test`: a single run of the agent's tests\n- `llm-benchmark`: a multi-model comparison"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the run was last updated (ISO 8601 UTC)"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total number of test cases"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed"
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunCaseSummary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results",
            "description": "Flat pass/fail summary for each test case (fetch the run detail for full results)"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated latency in milliseconds, as `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost as `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage as `{mean, min, max, count}`"
          },
          "model_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ModelRunSummary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Results",
            "description": "Flat summary for each model in a benchmark run (fetch the benchmark detail for full results)"
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "status",
          "type",
          "updated_at"
        ],
        "title": "AgentTestRunListItem"
      },
      "AgentTestsCreate": {
        "properties": {
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "Agent to link tests to",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "test_uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Test Uuids",
            "description": "Tests to link. Any that are already linked are skipped",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "agent_uuid",
          "test_uuids"
        ],
        "title": "AgentTestsCreate"
      },
      "AgentTestsCreateResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "AgentTestsCreateResponse"
      },
      "AgentUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New agent name. Omit to leave the name unchanged"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`**, built inside Calibrate:\n- `system_prompt`: the agent's instructions\n- `llm.model`: `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider`: `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider`: `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first`, `settings.max_assistant_turns`\n- `system_tools.end_call`: let the agent end the call\n- `data_extraction_fields`: `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`**, your own HTTP endpoint:\n- `agent_url`: public HTTP(S) endpoint your agent is called at\n- `agent_headers`: headers sent on each request, e.g. auth\n- `benchmark_provider`: `openrouter` by default. Other values: `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nReplaces the stored config. Omit to leave unchanged\n\nFor `type=connection`, changing `agent_url` or `agent_headers` resets the connection and benchmark verification flags"
          }
        },
        "type": "object",
        "title": "AgentUpdate"
      },
      "AgentVerifyRequest": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "description": "Model to verify. Omit for a basic connection check. Provide it for a model-specific check before benchmarking that model",
            "examples": [
              "openai/gpt-4.1"
            ]
          },
          "messages": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Sample chat messages to send during verification. Omit to use the default probe",
            "examples": [
              [
                {
                  "content": "Hello",
                  "role": "user"
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "AgentVerifyRequest",
        "description": "Body for verifying an existing agent by ID. The endpoint (`agent_url`,\n`agent_headers`) comes from the agent's stored config, so only the probe\ninputs are accepted here."
      },
      "AnnotationItemPayload": {
        "properties": {
          "payload": {
            "title": "Payload",
            "description": "The item's payload. `name` is required and unique within the task for every type. The other fields depend on the task `type`:\n\n- `stt`: `name`, `reference_transcript`, `predicted_transcript`\n- `llm`: `name`, `chat_history` (list of `{role, content}` turns ending at the user turn), `agent_response` (the reply to judge), optional `evaluator_variables`\n- `llm-general`: `name`, `input`, `output`, optional `evaluator_variables`\n- `conversation`: `name`, `transcript` (list of `{role, content}` turns), optional `evaluator_variables`\n\n`evaluator_variables` maps an evaluator ID to that evaluator's `{{variable}}` values for this item",
            "examples": [
              {
                "name": "clip-001",
                "predicted_transcript": "the quick brown fax",
                "reference_transcript": "the quick brown fox"
              },
              {
                "agent_response": "Your balance is $42.00.",
                "chat_history": [
                  {
                    "content": "What is my account balance?",
                    "role": "user"
                  }
                ],
                "name": "case-001"
              },
              {
                "input": "Summarize: the meeting is moved to 3pm.",
                "name": "pair-001",
                "output": "The meeting is now at 3pm."
              },
              {
                "name": "convo-001",
                "transcript": [
                  {
                    "content": "Hi, how can I help?",
                    "role": "assistant"
                  },
                  {
                    "content": "I lost my card.",
                    "role": "user"
                  },
                  {
                    "content": "I can block it now. Can you confirm the last 4 digits?",
                    "role": "assistant"
                  }
                ]
              }
            ]
          },
          "annotations": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human annotations to seed, keyed by evaluator ID. Each evaluator ID must be linked to the task. Put the judgement in `value`, a bool for binary or a number for rating, with optional `reasoning`. Requires `annotator_id`",
            "examples": [
              {
                "f47ac10b-58cc-4372-a567-0e02b2c3d479": {
                  "reasoning": "meets the bar",
                  "value": true
                }
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "payload"
        ],
        "title": "AnnotationItemPayload"
      },
      "AnnotationTaskCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Task name, unique within your workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "stt",
              "llm",
              "llm-general",
              "conversation",
              "tts"
            ],
            "title": "Type",
            "description": "Task type. Determines the shape of each item's payload.\n- `stt`: judge a transcript on its own\n- `llm`: judge one response with its conversation history\n- `llm-general`: judge a standalone `input -> output` pair\n- `conversation`: judge a full conversation"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A description for the task. Omit for none"
          },
          "evaluator_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Ids",
            "description": "IDs of evaluators to link when the task is created, in order. Each must be one you created or a built-in default. Omit to create with no linked evaluators",
            "examples": [
              [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "AnnotationTaskCreate"
      },
      "AnnotationTaskCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation that the task was created"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AnnotationTaskCreateResponse"
      },
      "AnnotationTaskResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Unique ID for the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the task"
          },
          "type": {
            "type": "string",
            "enum": [
              "stt",
              "llm",
              "llm-general",
              "conversation",
              "tts"
            ],
            "title": "Type",
            "description": "Task type. Determines the shape of each item's payload.\n- `stt`: judge a transcript on its own\n- `llm`: judge one response with its conversation history\n- `llm-general`: judge a standalone `input -> output` pair\n- `conversation`: judge a full conversation"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The task's description"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the task was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the task was last updated (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The evaluators linked to this task, in display order. Fetching one task by ID enriches each with its live version's rubric. Listing tasks returns lightweight metadata (uuid, name, type, position) only",
            "default": []
          },
          "item_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Item Count",
            "description": "Number of items in the task"
          },
          "has_agreement": {
            "type": "boolean",
            "title": "Has Agreement",
            "description": "Whether the task has at least one comparable human-vs-human or human-vs-evaluator pair, computed over all time",
            "default": false
          },
          "items": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's items, each with its agreement stats. You get these when you fetch one task by ID, not when you list tasks",
            "default": []
          },
          "jobs": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's labelling jobs. You get these when you fetch one task by ID, not when you list tasks",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "AnnotationTaskResponse"
      },
      "AnnotatorCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Annotator name, unique within your workspace"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AnnotatorCreate"
      },
      "AnnotatorCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created annotator",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Success message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AnnotatorCreateResponse"
      },
      "AnnotatorResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Annotator ID",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Annotator name"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the annotator was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the annotator was last updated (ISO 8601 UTC)"
          },
          "jobs_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Jobs Count",
            "description": "Number of labelling jobs assigned to this annotator"
          },
          "current_agreement": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Agreement",
            "description": "Latest pairwise mean agreement with other annotators, from 0 to 1"
          },
          "pair_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pair Count",
            "description": "Number of comparable annotation pairs behind the current agreement score"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "created_at",
          "updated_at"
        ],
        "title": "AnnotatorResponse"
      },
      "AnnotatorUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New annotator name, unique within your workspace. Omit to leave unchanged"
          }
        },
        "type": "object",
        "title": "AnnotatorUpdate"
      },
      "BatchRunRequest": {
        "properties": {
          "agent_names": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Names",
            "description": "Agents to run. Omit to run every agent in your workspace",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "title": "BatchRunRequest"
      },
      "BatchTestRun": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the agent that was run",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll it for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Current status of the run"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "task_id",
          "status"
        ],
        "title": "BatchTestRun"
      },
      "BatchTestRunResponse": {
        "properties": {
          "runs": {
            "items": {
              "$ref": "#/components/schemas/BatchTestRun"
            },
            "type": "array",
            "title": "Runs",
            "description": "Test runs that were launched"
          },
          "skipped": {
            "items": {
              "$ref": "#/components/schemas/BatchTestSkip"
            },
            "type": "array",
            "title": "Skipped",
            "description": "Agents that were skipped instead of failing the batch",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "runs"
        ],
        "title": "BatchTestRunResponse"
      },
      "BatchTestSkip": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the skipped agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the skipped agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "no_linked_tests",
              "connection_not_verified"
            ],
            "title": "Reason",
            "description": "Why this agent was not run:\n- `no_linked_tests`: the agent has no tests linked\n- `connection_not_verified`: the agent's connection is not verified"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "reason"
        ],
        "title": "BatchTestSkip"
      },
      "BenchmarkRequest": {
        "properties": {
          "models": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Models",
            "description": "Model names to benchmark",
            "examples": [
              [
                "openai/gpt-4.1",
                "anthropic/claude-sonnet-4"
              ]
            ]
          },
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "A subset of the agent's linked tests to benchmark. Each ID must be linked to the agent. Omit to run all linked tests",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "models"
        ],
        "title": "BenchmarkRequest"
      },
      "BenchmarkStatusResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Benchmark run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the run"
          },
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "IDs of the tests this benchmark executed, in run order"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunEvaluator"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "The evaluators used in this run. Each verdict in `judge_results` links to one of these by `evaluator_uuid`"
          },
          "model_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ModelResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Results",
            "description": "Results for each model"
          },
          "leaderboard_summary": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Leaderboard comparing the models, one row per model. Columns vary by benchmark: a `model` column plus pass/fail counts, latency, cost, and one score column per evaluator, keyed by evaluator name",
            "examples": [
              [
                {
                  "cost": 0.0021,
                  "failed": 2,
                  "helpfulness": 0.92,
                  "latency_p50": 480,
                  "model": "openai/gpt-4.1",
                  "passed": 8,
                  "safety": 1.0
                },
                {
                  "cost": 0.0034,
                  "failed": 1,
                  "helpfulness": 0.95,
                  "latency_p50": 520,
                  "model": "anthropic/claude-sonnet-4",
                  "passed": 9,
                  "safety": 1.0
                }
              ]
            ]
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "BenchmarkStatusResponse"
      },
      "BulkCreateItemsResponse": {
        "properties": {
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "IDs of every item the request resolved to, in request order",
            "examples": [
              [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "How many items the request resolved to"
          },
          "new_item_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Item Ids",
            "description": "IDs of the items that were newly created"
          },
          "existing_item_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Existing Item Ids",
            "description": "IDs of items that already existed by name and were reused"
          },
          "annotation_job_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Annotation Job Id",
            "description": "ID of the labelling job that holds the annotations you provided, present only when you send annotations with the items"
          }
        },
        "type": "object",
        "required": [
          "item_ids",
          "count"
        ],
        "title": "BulkCreateItemsResponse"
      },
      "BulkItemsRequest": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AnnotationItemPayload"
            },
            "type": "array",
            "title": "Items",
            "description": "Items to insert. Insertion order is preserved"
          },
          "annotator_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Annotator Id",
            "description": "Annotator these initial annotations belong to. Required when any item carries annotations",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "BulkItemsRequest"
      },
      "BulkTestItem": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test, unique within the workspace and within the batch"
          },
          "conversation_history": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Conversation History",
            "description": "Ordered messages ending at the user turn the agent should answer"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. Used by `response` and `conversation` tests"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ExpectedToolCall"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Expected tool calls. **Required for `tool_call` batches**"
          },
          "inputs": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Extra request fields for this test, overriding the agent's `default_inputs` per key"
          }
        },
        "type": "object",
        "required": [
          "name",
          "conversation_history"
        ],
        "title": "BulkTestItem"
      },
      "BulkTestUpload": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n\n\nApplied to every test in the batch"
          },
          "tests": {
            "items": {
              "$ref": "#/components/schemas/BulkTestItem"
            },
            "type": "array",
            "title": "Tests",
            "description": "Test items to create, at most 500 per request, with names unique within the batch"
          },
          "agent_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Uuids",
            "description": "IDs of agents to link every created test to. Omit to link none",
            "examples": [
              [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ]
            ]
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language",
            "description": "Language written to each test's `config.settings.language`. Omit to leave unset"
          }
        },
        "type": "object",
        "required": [
          "type",
          "tests"
        ],
        "title": "BulkTestUpload"
      },
      "BulkTestUploadResponse": {
        "properties": {
          "uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Uuids",
            "description": "IDs of the created tests, in request order",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of tests created"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Non-fatal issues, such as agents some tests could not be linked to"
          }
        },
        "type": "object",
        "required": [
          "uuids",
          "count",
          "message"
        ],
        "title": "BulkTestUploadResponse"
      },
      "BulkUpdateItemsRequest": {
        "properties": {
          "updates": {
            "items": {
              "$ref": "#/components/schemas/ItemUpdatePayload"
            },
            "type": "array",
            "title": "Updates",
            "description": "The new payload for each item you're updating. Entries not in this task, or referencing deleted items, are skipped"
          }
        },
        "type": "object",
        "required": [
          "updates"
        ],
        "title": "BulkUpdateItemsRequest"
      },
      "BulkUpdateItemsResponse": {
        "properties": {
          "updated_count": {
            "type": "integer",
            "title": "Updated Count",
            "description": "How many items were updated"
          }
        },
        "type": "object",
        "required": [
          "updated_count"
        ],
        "title": "BulkUpdateItemsResponse"
      },
      "ChatMessage": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "tool"
            ],
            "title": "Role",
            "description": "Message author role in the conversation history"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Message text. Omit for assistant messages that only carry `tool_calls`"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Tool calls issued by the assistant. Omit for plain text turns"
          },
          "tool_call_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Call Id",
            "description": "ID of the tool call this message responds to. **Required for `role=tool`**"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Tool name for `role=tool` messages. Omit otherwise"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatMessage"
      },
      "EvaluatorCreate": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "Evaluator name, unique within your workspace"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description. Omit to leave blank"
          },
          "evaluator_type": {
            "type": "string",
            "enum": [
              "tts",
              "stt",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Evaluator Type",
            "description": "What the evaluator judges:\n\n- `tts`: TTS audio\n- `stt`: one transcript\n- `llm`: a reply with its conversation history\n- `llm-general`: a standalone input and output pair\n- `conversation`: a full conversation\n",
            "default": "llm"
          },
          "data_type": {
            "type": "string",
            "enum": [
              "text",
              "audio"
            ],
            "title": "Data Type",
            "description": "The modality the judge reads:\n\n- `text`\n- `audio`\n",
            "default": "text"
          },
          "output_type": {
            "type": "string",
            "enum": [
              "binary",
              "rating"
            ],
            "title": "Output Type",
            "description": "How the evaluator scores:\n\n- `binary`: pass or fail\n- `rating`: a numeric score, using the scale in `output_config`\n",
            "default": "binary"
          },
          "version": {
            "$ref": "#/components/schemas/EvaluatorVersionCreate",
            "description": "The evaluator's first version. Set as live when you create the evaluator"
          }
        },
        "type": "object",
        "required": [
          "name",
          "version"
        ],
        "title": "EvaluatorCreate"
      },
      "EvaluatorCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the created evaluator",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "version_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Version Uuid",
            "description": "ID of its initial version",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "version_uuid"
        ],
        "title": "EvaluatorCreateResponse"
      },
      "EvaluatorDetailResponseCompact": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Evaluator ID",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Evaluator name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "What the evaluator checks"
          },
          "evaluator_type": {
            "type": "string",
            "enum": [
              "tts",
              "stt",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Evaluator Type",
            "description": "What the evaluator judges:\n\n- `tts`: TTS audio\n- `stt`: one transcript\n- `llm`: a reply with its conversation history\n- `llm-general`: a standalone input and output pair\n- `conversation`: a full conversation\n"
          },
          "data_type": {
            "type": "string",
            "enum": [
              "text",
              "audio"
            ],
            "title": "Data Type",
            "description": "The modality the judge reads:\n\n- `text`\n- `audio`\n"
          },
          "output_type": {
            "type": "string",
            "enum": [
              "binary",
              "rating"
            ],
            "title": "Output Type",
            "description": "How the evaluator scores:\n\n- `binary`: pass or fail\n- `rating`: a numeric score, using the scale in `output_config`\n"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default",
            "description": "True when the evaluator is a built-in default or your workspace's editable copy of one. False for an evaluator you created yourself"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug",
            "description": "Stable slug for a built-in default evaluator"
          },
          "source_default_slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Default Slug",
            "description": "Stable slug of the built-in default this evaluator is your editable copy of. Set on your default forks so you can identify a specific default by it"
          },
          "live_version_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Version Id",
            "description": "ID of the version that is currently live",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the evaluator was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the evaluator was last updated (ISO 8601 UTC)"
          },
          "versions": {
            "items": {
              "$ref": "#/components/schemas/EvaluatorVersionCompact"
            },
            "type": "array",
            "title": "Versions",
            "description": "Full version history, oldest first"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "evaluator_type",
          "data_type",
          "output_type",
          "is_default",
          "created_at",
          "updated_at",
          "versions"
        ],
        "title": "EvaluatorDetailResponseCompact"
      },
      "EvaluatorLiveVersionSummary": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Version ID",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          },
          "version_number": {
            "type": "integer",
            "title": "Version Number",
            "description": "The version's number. The first version is 1, and it goes up by one for each new version of the evaluator"
          },
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "version_number",
          "judge_model"
        ],
        "title": "EvaluatorLiveVersionSummary",
        "description": "Slim view of the live version for list results, carrying only what the list needs."
      },
      "EvaluatorRunLaunchResponse": {
        "properties": {
          "job_uuid": {
            "type": "string",
            "title": "Job Uuid",
            "description": "ID of the evaluator-run job. Poll it for status and results",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Status of the job right after you launch it"
          },
          "evaluator_count": {
            "type": "integer",
            "title": "Evaluator Count",
            "description": "How many evaluators the job will run"
          },
          "item_count": {
            "type": "integer",
            "title": "Item Count",
            "description": "How many items the job will run on"
          }
        },
        "type": "object",
        "required": [
          "job_uuid",
          "status",
          "evaluator_count",
          "item_count"
        ],
        "title": "EvaluatorRunLaunchResponse"
      },
      "EvaluatorRunRequestEntry": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Evaluator Id",
            "description": "Evaluator ID to run. Must be linked to the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "evaluator_version_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Version Id",
            "description": "Evaluator version ID to run. Omit to use the evaluator's live version",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          }
        },
        "type": "object",
        "required": [
          "evaluator_id"
        ],
        "title": "EvaluatorRunRequestEntry"
      },
      "EvaluatorRunResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "title": "Uuid",
            "description": "ID of the evaluator-run job",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Task Id",
            "description": "ID of the task the job ran on"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed"
            ],
            "title": "Status",
            "description": "Current status of the job"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Failure reason, present when the job failed"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "When the job finished (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The evaluators the job ran, each pinned to the version it used, with that version's rubric"
          },
          "runs": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "One result per item and evaluator. Each keys back to `evaluators` by its evaluator and version IDs"
          },
          "human_agreement": {
            "additionalProperties": true,
            "type": "object",
            "description": "How each evaluator's judgements line up with the human annotations on the same items"
          },
          "items": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The exact item set the job ran on, frozen when the job started"
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly"
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "uuid",
          "task_id",
          "status",
          "error",
          "completed_at",
          "evaluators",
          "runs",
          "human_agreement",
          "items",
          "is_public",
          "share_token"
        ],
        "title": "EvaluatorRunResponse"
      },
      "EvaluatorRunStartRequest": {
        "properties": {
          "evaluators": {
            "items": {
              "$ref": "#/components/schemas/EvaluatorRunRequestEntry"
            },
            "type": "array",
            "title": "Evaluators",
            "description": "The evaluators to run. Each must be linked to the task"
          },
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "Item IDs to run on. **Required when `select_all=false`**. Ignored when `select_all=true`",
            "default": []
          },
          "select_all": {
            "type": "boolean",
            "title": "Select All",
            "description": "When `true`, run on every item in the task. Set `q` to run only items whose name matches it",
            "default": false
          },
          "q": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Q",
            "description": "Case-insensitive substring filter on `payload.name`. Applies only when `select_all=true`"
          }
        },
        "type": "object",
        "required": [
          "evaluators"
        ],
        "title": "EvaluatorRunStartRequest"
      },
      "EvaluatorSetRequest": {
        "properties": {
          "evaluator_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Evaluator Ids",
            "description": "The full ordered set of evaluators the task should end up linked to, in display order. Missing ones are unlinked, new ones are linked, and the order sets their position. Send an empty list to unlink all. Each must be one you created or a built-in default",
            "examples": [
              [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "evaluator_ids"
        ],
        "title": "EvaluatorSetRequest"
      },
      "EvaluatorSetResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation that the task's evaluators were updated",
            "examples": [
              "Task evaluators updated"
            ]
          },
          "evaluator_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Evaluator Ids",
            "description": "The task's evaluator IDs after the update, in display order"
          },
          "linked": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Linked",
            "description": "Evaluator IDs newly linked by this request"
          },
          "unlinked": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Unlinked",
            "description": "Evaluator IDs unlinked by this request"
          }
        },
        "type": "object",
        "required": [
          "message",
          "evaluator_ids",
          "linked",
          "unlinked"
        ],
        "title": "EvaluatorSetResponse"
      },
      "EvaluatorVersionCompact": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Version ID",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          },
          "version_number": {
            "type": "integer",
            "title": "Version Number",
            "description": "The version's number. The first version is 1, and it goes up by one for each new version of the evaluator"
          },
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "System Prompt",
            "description": "Judge system prompt, with `{{variable}}` placeholders unrendered"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the version was created (ISO 8601 UTC)"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "version_number",
          "judge_model",
          "created_at"
        ],
        "title": "EvaluatorVersionCompact"
      },
      "EvaluatorVersionCreate": {
        "properties": {
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Judge system prompt. May contain `{{variable}}` placeholders"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables. Omit if the prompt has no `{{placeholders}}`"
          }
        },
        "type": "object",
        "required": [
          "judge_model",
          "system_prompt"
        ],
        "title": "EvaluatorVersionCreate",
        "description": "One version of an evaluator: its judge prompt, model, variables, and rubric."
      },
      "EvaluatorVersionCreateRequest": {
        "properties": {
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Judge system prompt. May contain `{{variable}}` placeholders"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables. Omit if the prompt has none. After the first version the variable names are fixed. You can change a variable's description or default, but not add, remove, or rename one"
          },
          "make_live": {
            "type": "boolean",
            "title": "Make Live",
            "description": "When `true`, immediately point the evaluator's live version at this new version",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "judge_model",
          "system_prompt"
        ],
        "title": "EvaluatorVersionCreateRequest",
        "description": "Request body for adding a version to an existing evaluator."
      },
      "ExpectedToolCall": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent is expected to call"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Expected argument values, diffed against the generated call. Omit to expect no arguments"
          },
          "accept_any_arguments": {
            "type": "boolean",
            "title": "Accept Any Arguments",
            "description": "When `true`, only the tool name must match and `arguments` is ignored",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ExpectedToolCall"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HumanAgreementBlock": {
        "properties": {
          "current": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current",
            "description": "Current mean pairwise agreement among annotators"
          },
          "pair_count": {
            "type": "integer",
            "title": "Pair Count",
            "description": "How many annotator pairs the current value averages over"
          },
          "series": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "Agreement over time, one point per time bucket"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "current",
          "pair_count",
          "series"
        ],
        "title": "HumanAgreementBlock"
      },
      "ItemUpdatePayload": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the item to update",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "payload": {
            "title": "Payload",
            "description": "The item's new payload. `payload['name']` is still required and must be unique within the task"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "payload"
        ],
        "title": "ItemUpdatePayload"
      },
      "JudgeResult": {
        "properties": {
          "evaluator_uuid": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Uuid",
            "description": "ID of the evaluator that produced this verdict"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "The judge's rationale for this verdict"
          },
          "match": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Match",
            "description": "Pass/fail verdict, set for binary evaluators"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score",
            "description": "Numeric score, set for rating evaluators"
          },
          "value_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Value Name",
            "description": "Readable label for the verdict, taken from the run's rubric"
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Values filled into the evaluator prompt's `{{variable}}` placeholders for this test case, keyed by variable name",
            "examples": [
              {
                "criteria": "Is the reply correct and helpful?"
              }
            ]
          }
        },
        "type": "object",
        "title": "JudgeResult"
      },
      "ModelResult": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model name these results are for",
            "examples": [
              "openai/gpt-4.1"
            ]
          },
          "success": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Success",
            "description": "Whether this model's run succeeded"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Status or result message for this model"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total test cases for this model"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed"
          },
          "evaluator_summary": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregate summary for each evaluator for this model"
          },
          "test_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Results",
            "description": "Results for each test case for this model"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated latency in milliseconds, as `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost as `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage as `{mean, min, max, count}`"
          }
        },
        "type": "object",
        "required": [
          "model",
          "message"
        ],
        "title": "ModelResult"
      },
      "ModelRunSummary": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model name these results are for",
            "examples": [
              "openai/gpt-4.1"
            ]
          },
          "success": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Success",
            "description": "Whether this model's run succeeded"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Status or result message for this model",
            "default": ""
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total test cases for this model"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed for this model"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed for this model"
          }
        },
        "type": "object",
        "required": [
          "model"
        ],
        "title": "ModelRunSummary",
        "description": "Flat summary for one model in a benchmark run-LIST item. The full results\nfor each case of a model live on the benchmark detail endpoint\n(`GET /agent-tests/benchmark/{task_id}`), not here."
      },
      "OutputConfig": {
        "properties": {
          "scale": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/OutputScaleEntry"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale",
            "description": "The ordered scale points that make up the rubric, each with its label"
          }
        },
        "type": "object",
        "title": "OutputConfig"
      },
      "OutputScaleEntry": {
        "properties": {
          "value": {
            "title": "Value",
            "description": "The value for this scale point. Use a boolean for a `binary` evaluator, a number for a `rating` one"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Short label for this scale point"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Rubric text for this level, added to the judge prompt. Omit to leave this level undescribed"
          },
          "color": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Color",
            "description": "Color to show for this level. Omit for the default"
          }
        },
        "type": "object",
        "required": [
          "value",
          "name"
        ],
        "title": "OutputScaleEntry",
        "description": "One entry in an evaluator's output_config.scale. `value` is bool|number|string\ndepending on output_type."
      },
      "PaginatedResponse_AgentSummary_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AgentSummary"
            },
            "type": "array",
            "title": "Items",
            "description": "The page of results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items matching the query, before pagination"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "The applied `limit` (null when unbounded)"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "The applied `offset`",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "PaginatedResponse[AgentSummary]"
      },
      "PaginatedResponse_AgentTestRunListItem_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AgentTestRunListItem"
            },
            "type": "array",
            "title": "Items",
            "description": "The page of results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items matching the query, before pagination"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "The applied `limit` (null when unbounded)"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "The applied `offset`",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "PaginatedResponse[AgentTestRunListItem]"
      },
      "PaginatedResponse_AnnotationTaskResponse_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AnnotationTaskResponse"
            },
            "type": "array",
            "title": "Items",
            "description": "The page of results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items matching the query, before pagination"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "The applied `limit` (null when unbounded)"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "The applied `offset`",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "PaginatedResponse[AnnotationTaskResponse]"
      },
      "PaginatedResponse_EvaluatorResponse_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/routers__evaluators__EvaluatorResponse"
            },
            "type": "array",
            "title": "Items",
            "description": "The page of results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items matching the query, before pagination"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "The applied `limit` (null when unbounded)"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "The applied `offset`",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "PaginatedResponse[EvaluatorResponse]"
      },
      "PaginatedResponse_TestListResponse_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/TestListResponse"
            },
            "type": "array",
            "title": "Items",
            "description": "The page of results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items matching the query, before pagination"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "The applied `limit` (null when unbounded)"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "The applied `offset`",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "PaginatedResponse[TestListResponse]"
      },
      "PaginationMeta": {
        "properties": {
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items that match, across all pages"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Maximum number of items returned in this page"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Number of items skipped before this page"
          }
        },
        "type": "object",
        "required": [
          "total",
          "limit",
          "offset"
        ],
        "title": "PaginationMeta"
      },
      "ResolveAgentNamesRequest": {
        "properties": {
          "names": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Names",
            "description": "Agent names to resolve to IDs",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "names"
        ],
        "title": "ResolveAgentNamesRequest"
      },
      "ResolveAgentNamesResponse": {
        "properties": {
          "resolved": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "description": "Map of name to agent ID for each name that matched"
          },
          "not_found": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Names with no matching agent in your workspace"
          }
        },
        "type": "object",
        "required": [
          "resolved",
          "not_found"
        ],
        "title": "ResolveAgentNamesResponse"
      },
      "RunTestRequest": {
        "properties": {
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "Tests to run. Omit to run all tests linked to the agent",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "title": "RunTestRequest"
      },
      "TaskAgreementResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "ID of the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "bucket": {
            "type": "string",
            "title": "Bucket",
            "description": "Time bucket used for the trend series"
          },
          "days": {
            "type": "integer",
            "title": "Days",
            "description": "Length of the trailing window in days"
          },
          "human_human": {
            "$ref": "#/components/schemas/HumanAgreementBlock",
            "description": "Agreement between annotators who labelled the same items"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "Agreement between each evaluator and the annotators, plus that evaluator's own results, one entry per linked evaluator"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "task_id",
          "bucket",
          "days",
          "human_human",
          "evaluators"
        ],
        "title": "TaskAgreementResponse"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "cancelled",
          "done",
          "failed"
        ],
        "title": "TaskStatus"
      },
      "TaskSummaryResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "ID of the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_type": {
            "type": "string",
            "enum": [
              "stt",
              "llm",
              "llm-general",
              "conversation",
              "tts"
            ],
            "title": "Task Type",
            "description": "Type of the task"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's evaluators, stable across pages, each with its live rubric"
          },
          "annotators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The annotators who labelled or commented on items in the task, stable across pages"
          },
          "rows": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "One row per item, evaluator, and version on this page, with the evaluator's value and each annotator's label"
          },
          "item_comments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Annotator comments, keyed by item ID"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta",
            "description": "Where this page sits in the full item list"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "task_id",
          "task_type",
          "evaluators",
          "annotators",
          "rows",
          "pagination"
        ],
        "title": "TaskSummaryResponse"
      },
      "TestCaseResult": {
        "properties": {
          "test_case_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Case Id",
            "description": "ID of the test case within the run"
          },
          "name": {
            "anyOf": [
              {
[...]
