{
  "openapi": "3.1.0",
  "info": {
    "title": "Calibrate Public API",
    "version": "0.1.0",
    "description": "Programmatic API for CI/automation. Pass your key in the `X-API-Key` header."
  },
  "servers": [
    {
      "url": "https://api.calibrate.artpark.ai",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "AgentCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable agent name, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "`agent` applies managed defaults deep-merged under any supplied `config`; `connection` stores the config you supply as-is (must eventually contain `agent_url`)",
            "default": "agent"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Behavioral config (system_prompt, llm, stt, tts, settings, \u2026). Deep-merged over defaults for `type=agent`; stored as-is for `type=connection`. Omit for `type=agent` to use defaults"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentCreate"
      },
      "AgentCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AgentCreateResponse"
      },
      "AgentTestRunCreateResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the test run: `queued` or `in_progress`"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "AgentTestRunCreateResponse"
      },
      "AgentUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New agent name. Omit to leave the name unchanged"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Replacement config, stored as-is (no deep-merge on update). Changing `agent_url` or `agent_headers` resets all connection/benchmark verification flags. Omit to leave config unchanged"
          },
          "connection_verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Connection Verified",
            "description": "Directly set the `connection_verified` flag inside config. Omit to leave it untouched"
          },
          "benchmark_models_verified": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Benchmark Models Verified",
            "description": "Directly set the per-model benchmark verification map inside config. Omit to leave it untouched"
          }
        },
        "type": "object",
        "title": "AgentUpdate"
      },
      "BatchRunRequest": {
        "properties": {
          "agent_names": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Names",
            "description": "Agents to run. Omit to run every agent in your workspace",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "title": "BatchRunRequest"
      },
      "BatchTestRun": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the agent that was run",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Initial status: `queued` or `in_progress`"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "task_id",
          "status"
        ],
        "title": "BatchTestRun"
      },
      "BatchTestRunResponse": {
        "properties": {
          "runs": {
            "items": {
              "$ref": "#/components/schemas/BatchTestRun"
            },
            "type": "array",
            "title": "Runs",
            "description": "Test runs that were launched"
          },
          "skipped": {
            "items": {
              "$ref": "#/components/schemas/BatchTestSkip"
            },
            "type": "array",
            "title": "Skipped",
            "description": "Agents that were skipped instead of failing the batch",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "runs"
        ],
        "title": "BatchTestRunResponse"
      },
      "BatchTestSkip": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the skipped agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the skipped agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "reason": {
            "type": "string",
            "title": "Reason",
            "description": "Why this agent was not run"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "reason"
        ],
        "title": "BatchTestSkip"
      },
      "BulkTestItem": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Test name, unique within the batch"
          },
          "conversation_history": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Conversation History",
            "description": "Ordered messages ending at the user turn the agent should answer (must be non-empty)"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. **Required for `response`/`conversation` batches**"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ExpectedToolCall"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Expected tool calls. **Required for `tool_call` batches**"
          }
        },
        "type": "object",
        "required": [
          "name",
          "conversation_history"
        ],
        "title": "BulkTestItem"
      },
      "BulkTestUpload": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "Test kind applied to every item in the batch"
          },
          "tests": {
            "items": {
              "$ref": "#/components/schemas/BulkTestItem"
            },
            "type": "array",
            "title": "Tests",
            "description": "Test items to create (non-empty, max 500 per request, names unique within the batch)"
          },
          "agent_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Uuids",
            "description": "Agents (IDs) to link every created test to. Omit to link none",
            "examples": [
              [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ]
            ]
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language",
            "description": "Language written to each test's `config.settings.language`. Omit to leave unset"
          }
        },
        "type": "object",
        "required": [
          "type",
          "tests"
        ],
        "title": "BulkTestUpload"
      },
      "BulkTestUploadResponse": {
        "properties": {
          "uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Uuids",
            "description": "IDs of the created tests, in request order",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of tests created"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable confirmation message"
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Non-fatal issues (e.g. agents some tests couldn't link to). Null when there were none"
          }
        },
        "type": "object",
        "required": [
          "uuids",
          "count",
          "message"
        ],
        "title": "BulkTestUploadResponse"
      },
      "ChatMessage": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "title": "Role",
            "description": "Message author role in the conversation history"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Message text. Omit for assistant messages that only carry `tool_calls`"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Tool calls issued by the assistant. Omit for plain text turns"
          },
          "tool_call_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Call Id",
            "description": "ID of the tool call this message responds to. **Required for `role=tool`**"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Tool name for `role=tool` messages. Omit otherwise"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatMessage"
      },
      "ExpectedToolCall": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent is expected to call"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arguments",
            "description": "Expected argument values, diffed against the generated call. Omit to expect no arguments"
          },
          "accept_any_arguments": {
            "type": "boolean",
            "title": "Accept Any Arguments",
            "description": "When `true`, only the tool name must match and `arguments` is ignored",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ExpectedToolCall"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JudgeResult": {
        "properties": {
          "evaluator_uuid": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Uuid",
            "description": "ID of the evaluator that produced this verdict; null for legacy runs or when the evaluator can't be resolved from the snapshot"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "Judge's rationale for this verdict"
          },
          "match": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Match",
            "description": "Binary evaluator pass/fail. **Set only for binary evaluators** (else null; `score` is set instead)"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score",
            "description": "Rating evaluator numeric score. **Set only for rating evaluators** (else null; `match` is set instead)"
          },
          "value_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Value Name",
            "description": "Human-readable label for `match`/`score` resolved against the run's rubric. Falls back to `Correct`/`Wrong` (binary) or the stringified score (rating) when the snapshot lacks named scale entries"
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variable Values",
            "description": "`{{var}}` substitutions used for this evaluator on this test case, frozen at submission time; null when none"
          }
        },
        "type": "object",
        "title": "JudgeResult"
      },
      "ResolveAgentNamesRequest": {
        "properties": {
          "names": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Names",
            "description": "Agent names to resolve to IDs",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "names"
        ],
        "title": "ResolveAgentNamesRequest"
      },
      "ResolveAgentNamesResponse": {
        "properties": {
          "resolved": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Resolved",
            "description": "Map of name to agent ID for each name that matched"
          },
          "not_found": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Names with no matching agent in your workspace"
          }
        },
        "type": "object",
        "required": [
          "resolved",
          "not_found"
        ],
        "title": "ResolveAgentNamesResponse"
      },
      "RunTestRequest": {
        "properties": {
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "Tests to run. Omit to run all tests linked to the agent",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "title": "RunTestRequest"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "cancelled",
          "done",
          "failed"
        ],
        "title": "TaskStatus"
      },
      "TestCaseResult": {
        "properties": {
          "test_case_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Case Id",
            "description": "Identifier of the test case within the run"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Test name; present during in-progress and done states"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Whether the case passed. Present only when done"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "LLM judge reasoning or deterministic tool-call diff; null for passing tool-call tests"
          },
          "output": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestOutput"
              },
              {
                "type": "null"
              }
            ],
            "description": "The agent's output for this case. Present only when done"
          },
          "test_case": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Case",
            "description": "The input test case definition. Present only when done"
          },
          "judge_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/JudgeResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Judge Results",
            "description": "Per-evaluator verdicts for response/conversation tests; null for tool-call tests or in-progress rows"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms",
            "description": "Response-generation latency in ms for the agent under test (not the judge). Present only for live runs; null for in-progress and eval-only runs. Float, since external agents may self-report a fractional value"
          },
          "cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost",
            "description": "Per-case cost in USD, lifted from calibrate's nested `output.cost`. Null when the provider/agent reports none (e.g. `--provider openai`)"
          }
        },
        "type": "object",
        "title": "TestCaseResult"
      },
      "TestCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable test name, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "Test kind (immutable after creation): `response` judges the generated reply, `tool_call` diffs generated tool calls, `conversation` judges the full conversation"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Calibrate test config (`history`, `evaluation`, optional `settings`). Omit to create an empty shell to fill in later"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. **Required (>=1) for `type=conversation`** (no fallback judge). Omit for `response`/`tool_call` to link none"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "TestCreate"
      },
      "TestCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created test",
            "examples": [
              "b1c2d3e4-f5a6-7890-bcde-f12345678901"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "TestCreateResponse"
      },
      "TestOutput": {
        "properties": {
          "response": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response",
            "description": "The agent's generated reply; null for tool-call-only cases"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ToolCallOutput"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Tool calls the agent generated; null when it made none"
          }
        },
        "type": "object",
        "title": "TestOutput"
      },
      "TestRunStatusResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status: `queued`, `in_progress`, `done`, or `failed`"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total number of test cases; null until known"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed; null until done"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed; null until done"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms",
            "description": "Aggregated response latency `{p50, p95, p99, count}` (ms; `p50` \u2248 the old mean). Null for eval-only runs"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost",
            "description": "Aggregated cost `{mean, min, max, count}` (USD). Null when no case reported a cost (e.g. openai provider)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tokens",
            "description": "Aggregated token usage `{mean, min, max, count}` (values are `Any` \u2014 `mean` may be fractional). Null when no case reported usage"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Top-level evaluator block (name/description/output_type/rubric) shared across every `judge_results` row, which references back via `evaluator_uuid` so the rubric isn't duplicated per case"
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results",
            "description": "Per-test-case results; null until available"
          },
          "results_s3_prefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results S3 Prefix",
            "description": "S3 key prefix for the raw result artifacts; null until uploaded"
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Public share token; null unless the run is public"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "TestRunStatusResponse"
      },
      "TestUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New test name. Omit to leave unchanged"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "response",
                  "tool_call",
                  "conversation"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Type",
            "description": "Test type. Immutable \u2014 may only echo the existing value; a different value is rejected (400). Omit to leave unchanged"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Replacement calibrate config. Omit to leave unchanged"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Replacement evaluator links (replaces the existing set). Omit to leave links unchanged; an empty list clears them (**rejected for `conversation` tests**)"
          }
        },
        "type": "object",
        "title": "TestUpdate"
      },
      "ToolCallOutput": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent called"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arguments",
            "description": "Arguments the agent passed to the tool; null if none"
          },
          "output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Output",
            "description": "Tool execution result (any JSON value). Present only for agent-connection tests where the external agent runs the tool and echoes its return value; null for calibrate-agent mode (tools are declared, never executed) or agents that don't echo it"
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ToolCallOutput"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "routers__agents__AgentResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable name of the agent"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "`agent` (managed defaults) or `connection` (your own endpoint)"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Agent configuration"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the agent was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the agent was last updated (ISO 8601 UTC)"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "AgentResponse"
      },
      "routers__tests__EvaluatorRef": {
        "properties": {
          "evaluator_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Evaluator Uuid",
            "description": "Evaluator to attach to the test",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variable Values",
            "description": "Values for the evaluator's `{{placeholder}}` variables, pinned per-test on the pivot. Omit to inherit the evaluator version's defaults"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "evaluator_uuid"
        ],
        "title": "EvaluatorRef"
      },
      "routers__tests__TestResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Test ID",
            "examples": [
              "b1c2d3e4-f5a6-7890-bcde-f12345678901"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable test name"
          },
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "Test kind: `response`, `tool_call`, or `conversation`"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Config",
            "description": "Calibrate test config (`history`, `evaluation`, optional `settings`)"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "Creation timestamp (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "Last-update timestamp (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Evaluators",
            "description": "Linked evaluators, resolved to their current live version at read time",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "TestResponse"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    }
  },
  "paths": {
    "/agents/resolve": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Resolve agent names to IDs",
        "description": "Resolve agent names to their IDs.",
        "operationId": "resolve_agent_names_agents_resolve_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveAgentNamesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveAgentNamesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create agent",
        "description": "Create a new agent in your workspace. For `type=agent`, defaults are deep-merged with any config you supply.",
        "operationId": "create_agent_endpoint_agents_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List agents",
        "description": "List all agents in your workspace.",
        "operationId": "list_agents_agents_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/routers__agents__AgentResponse"
                  },
                  "title": "Response List Agents Agents Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_uuid}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get agent",
        "description": "Get an agent in your workspace.",
        "operationId": "get_agent_endpoint_agents__agent_uuid__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to retrieve. Must be in your workspace.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to retrieve. Must be in your workspace."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__agents__AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "Update agent",
        "description": "Update an agent's name and/or config. Changing `agent_url` or `agent_headers` resets connection and benchmark verification flags.",
        "operationId": "update_agent_endpoint_agents__agent_uuid__put",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to update. Must be in your workspace.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to update. Must be in your workspace."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__agents__AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests/bulk": {
      "post": {
        "tags": [
          "tests"
        ],
        "summary": "Bulk create tests",
        "description": "Create many tests of one type in a single call, optionally linking them to agents.",
        "operationId": "bulk_upload_tests_tests_bulk_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTestUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkTestUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests": {
      "post": {
        "tags": [
          "tests"
        ],
        "summary": "Create test",
        "description": "Create a test in your workspace.",
        "operationId": "create_test_endpoint_tests_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "List tests",
        "description": "List all tests for your workspace, each with its linked evaluators.",
        "operationId": "list_tests_tests_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/routers__tests__TestResponse"
                  },
                  "title": "Response List Tests Tests Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tests/{test_uuid}": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get test",
        "description": "Get a test by ID, including its linked evaluators.",
        "operationId": "get_test_endpoint_tests__test_uuid__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test to retrieve",
              "examples": [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ],
              "title": "Test Uuid"
            },
            "description": "Test to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__tests__TestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tests"
        ],
        "summary": "Update test",
        "description": "Update a test's name, config, and/or evaluator links.",
        "operationId": "update_test_endpoint_tests__test_uuid__put",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test to update",
              "examples": [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ],
              "title": "Test Uuid"
            },
            "description": "Test to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__tests__TestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/agent/{agent_uuid}/run": {
      "post": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Run agent tests",
        "description": "Run tests for an agent as a background job.",
        "operationId": "run_agent_test_agent_tests_agent__agent_uuid__run_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The agent to test. Must be in your workspace.",
              "examples": [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ],
              "title": "Agent Uuid"
            },
            "description": "The agent to test. Must be in your workspace."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTestRunCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/run": {
      "post": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Run agent tests in batch",
        "description": "Run agent tests for every agent in your workspace, or for a selected set.",
        "operationId": "run_tests_batch_agent_tests_run_post",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BatchRunRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTestRunResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-tests/run/{task_id}": {
      "get": {
        "tags": [
          "agent-tests"
        ],
        "summary": "Get test run status",
        "description": "Get the status and results of a test run.",
        "operationId": "get_agent_test_run_status_agent_tests_run__task_id__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Test run to poll for status and results",
              "examples": [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ],
              "title": "Task Id"
            },
            "description": "Test run to poll for status and results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRunStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  }
}
