{
  "openapi": "3.1.0",
  "info": {
    "title": "Calibrate Public API",
    "version": "0.1.0",
    "description": "Programmatic API for CI/automation. Pass your key in the `X-API-Key` header."
  },
  "servers": [
    {
      "url": "https://api.calibrate.artpark.ai",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "AgentCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Agent name, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "connection"
            ],
            "title": "Type",
            "description": "- `agent`: built inside Calibrate\n- `connection`: your existing agent connected to Calibrate",
            "default": "agent"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`**, built inside Calibrate:\n- `system_prompt`: the agent's instructions\n- `llm.model`: `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider`: `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider`: `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first`, `settings.max_assistant_turns`\n- `system_tools.end_call`: let the agent end the call\n- `data_extraction_fields`: `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`**, your own HTTP endpoint:\n- `agent_url`: public HTTP(S) endpoint your agent is called at\n- `agent_headers`: headers sent on each request, e.g. auth\n- `benchmark_provider`: `openrouter` by default. Other values: `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nFor `type=agent`, omitted keys inherit managed defaults. Omit `config` entirely to use all defaults. For `type=connection`, `config` is stored as-is and must contain `agent_url`"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "AgentCreate"
      },
      "AgentCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AgentCreateResponse"
      },
      "AgentTestRunCreateResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll it for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Current status of the run"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "AgentTestRunCreateResponse"
      },
      "AgentTestRunListItem": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Test run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Display name, such as `Run 1` for a unit test or `Benchmark 1` for a benchmark"
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the run"
          },
          "type": {
            "type": "string",
            "enum": [
              "llm-unit-test",
              "llm-benchmark"
            ],
            "title": "Type",
            "description": "What kind of run this is:\n- `llm-unit-test`: a single run of the agent's tests\n- `llm-benchmark`: a multi-model comparison"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the run was last updated (ISO 8601 UTC)"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunEvaluator"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "The evaluators used in this run. Each verdict in `judge_results` links to one of these by `evaluator_uuid`"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total number of test cases"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed"
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results",
            "description": "Results for each test case"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated latency in milliseconds, as `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost as `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage as `{mean, min, max, count}`"
          },
          "model_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ModelResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Results",
            "description": "Results for each model in a benchmark run"
          },
          "leaderboard_summary": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Leaderboard comparing the models, one row per model. Columns vary by benchmark: a `model` column plus pass/fail counts, latency, cost, and one score column per evaluator, keyed by evaluator name",
            "examples": [
              [
                {
                  "cost": 0.0021,
                  "failed": 2,
                  "helpfulness": 0.92,
                  "latency_p50": 480,
                  "model": "openai/gpt-4.1",
                  "passed": 8,
                  "safety": 1.0
                },
                {
                  "cost": 0.0034,
                  "failed": 1,
                  "helpfulness": 0.95,
                  "latency_p50": 520,
                  "model": "anthropic/claude-sonnet-4",
                  "passed": 9,
                  "safety": 1.0
                }
              ]
            ]
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "status",
          "type",
          "updated_at"
        ],
        "title": "AgentTestRunListItem"
      },
      "AgentTestRunsResponse": {
        "properties": {
          "runs": {
            "items": {
              "$ref": "#/components/schemas/AgentTestRunListItem"
            },
            "type": "array",
            "title": "Runs",
            "description": "Test runs for the agent, most recently created first"
          }
        },
        "type": "object",
        "required": [
          "runs"
        ],
        "title": "AgentTestRunsResponse"
      },
      "AgentTestsCreate": {
        "properties": {
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "Agent to link tests to",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "test_uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Test Uuids",
            "description": "Tests to link. Any that are already linked are skipped",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "agent_uuid",
          "test_uuids"
        ],
        "title": "AgentTestsCreate"
      },
      "AgentTestsCreateResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "AgentTestsCreateResponse"
      },
      "AgentUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New agent name. Omit to leave the name unchanged"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent behavioral config. The keys depend on `type`.\n\n**`type=agent`**, built inside Calibrate:\n- `system_prompt`: the agent's instructions\n- `llm.model`: `provider/model`, e.g. `openai/gpt-4.1` or `google/gemini-2.5-flash`\n- `stt.provider`: `deepgram`, `openai`, `cartesia`, `elevenlabs`, `google`, `sarvam`, or `smallest`\n- `tts.provider`: `cartesia`, `openai`, `google`, `elevenlabs`, `sarvam`, or `smallest`\n- `settings.agent_speaks_first`, `settings.max_assistant_turns`\n- `system_tools.end_call`: let the agent end the call\n- `data_extraction_fields`: `[{name, type, description, required}]`\n\n```json\n{\n  \"system_prompt\": \"You are a helpful support agent.\",\n  \"llm\": {\"model\": \"openai/gpt-4.1\"},\n  \"stt\": {\"provider\": \"deepgram\"},\n  \"tts\": {\"provider\": \"elevenlabs\"},\n  \"settings\": {\"agent_speaks_first\": true, \"max_assistant_turns\": 50}\n}\n```\n\n**`type=connection`**, your own HTTP endpoint:\n- `agent_url`: public HTTP(S) endpoint your agent is called at\n- `agent_headers`: headers sent on each request, e.g. auth\n- `benchmark_provider`: `openrouter` by default. Other values: `openai`, `google`, `anthropic`, `meta-llama`, `mistralai`, `deepseek`, `x-ai`, `cohere`, `qwen`, or `ai21`\n\n```json\n{\n  \"agent_url\": \"https://api.example.com/agent\",\n  \"agent_headers\": {\"Authorization\": \"Bearer <token>\"},\n  \"benchmark_provider\": \"openrouter\"\n}\n```\n\nReplaces the stored config. Omit to leave unchanged\n\nFor `type=connection`, changing `agent_url` or `agent_headers` resets the connection and benchmark verification flags"
          }
        },
        "type": "object",
        "title": "AgentUpdate"
      },
      "AgentVerifyRequest": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "description": "Model to verify. Omit for a basic connection check. Provide it for a model-specific check before benchmarking that model",
            "examples": [
              "openai/gpt-4.1"
            ]
          },
          "messages": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Sample chat messages to send during verification. Omit to use the default probe",
            "examples": [
              [
                {
                  "content": "Hello",
                  "role": "user"
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "AgentVerifyRequest",
        "description": "Body for verifying an existing agent by ID. The endpoint (`agent_url`,\n`agent_headers`) comes from the agent's stored config, so only the probe\ninputs are accepted here."
      },
      "AnnotationItemPayload": {
        "properties": {
          "payload": {
            "title": "Payload",
            "description": "The item's payload. Its shape depends on the task `type`. `payload['name']` is **required** for every type and must be unique within the task"
          },
          "annotations": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human annotations to seed, keyed by evaluator ID. Each evaluator ID must be linked to the task. Put the judgement in `value`, a bool for binary or a number for rating, with optional `reasoning`. Requires `annotator_id`",
            "examples": [
              {
                "f47ac10b-58cc-4372-a567-0e02b2c3d479": {
                  "reasoning": "meets the bar",
                  "value": true
                }
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "payload"
        ],
        "title": "AnnotationItemPayload"
      },
      "AnnotationTaskCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Task name, unique within your workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "stt",
              "tts",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Type",
            "description": "Task type. Determines the shape of each item's payload.\n- `stt`: judge a transcript on its own\n- `tts`: judge synthesized speech output\n- `llm`: judge one response with its conversation history\n- `llm-general`: judge a standalone `input -> output` pair\n- `conversation`: judge a full conversation"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A description for the task. Omit for none"
          },
          "evaluator_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Ids",
            "description": "IDs of evaluators to link when the task is created, in order. Each must be one you created or a built-in default. Omit to create with no linked evaluators",
            "examples": [
              [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "AnnotationTaskCreate"
      },
      "AnnotationTaskCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation that the task was created"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "AnnotationTaskCreateResponse"
      },
      "AnnotationTaskResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Unique ID for the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the task"
          },
          "type": {
            "type": "string",
            "enum": [
              "stt",
              "tts",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Type",
            "description": "Task type. Determines the shape of each item's payload.\n- `stt`: judge a transcript on its own\n- `tts`: judge synthesized speech output\n- `llm`: judge one response with its conversation history\n- `llm-general`: judge a standalone `input -> output` pair\n- `conversation`: judge a full conversation"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The task's description"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the task was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the task was last updated (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The evaluators linked to this task, in display order, each with its live version's rubric",
            "default": []
          },
          "item_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Item Count",
            "description": "Number of items in the task"
          },
          "items": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's items, each with its agreement stats. You get these when you fetch one task by ID, not when you list tasks",
            "default": []
          },
          "jobs": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's labelling jobs. You get these when you fetch one task by ID, not when you list tasks",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "type",
          "created_at",
          "updated_at"
        ],
        "title": "AnnotationTaskResponse"
      },
      "BatchRunRequest": {
        "properties": {
          "agent_names": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Names",
            "description": "Agents to run. Omit to run every agent in your workspace",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "title": "BatchRunRequest"
      },
      "BatchTestRun": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the agent that was run",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID. Poll it for status and results",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Current status of the run"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "task_id",
          "status"
        ],
        "title": "BatchTestRun"
      },
      "BatchTestRunResponse": {
        "properties": {
          "runs": {
            "items": {
              "$ref": "#/components/schemas/BatchTestRun"
            },
            "type": "array",
            "title": "Runs",
            "description": "Test runs that were launched"
          },
          "skipped": {
            "items": {
              "$ref": "#/components/schemas/BatchTestSkip"
            },
            "type": "array",
            "title": "Skipped",
            "description": "Agents that were skipped instead of failing the batch",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "runs"
        ],
        "title": "BatchTestRunResponse"
      },
      "BatchTestSkip": {
        "properties": {
          "agent_name": {
            "type": "string",
            "title": "Agent Name",
            "description": "Name of the skipped agent"
          },
          "agent_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Agent Uuid",
            "description": "ID of the skipped agent",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "no_linked_tests",
              "connection_not_verified"
            ],
            "title": "Reason",
            "description": "Why this agent was not run:\n- `no_linked_tests`: the agent has no tests linked\n- `connection_not_verified`: the agent's connection is not verified"
          }
        },
        "type": "object",
        "required": [
          "agent_name",
          "agent_uuid",
          "reason"
        ],
        "title": "BatchTestSkip"
      },
      "BenchmarkRequest": {
        "properties": {
          "models": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Models",
            "description": "Model names to benchmark",
            "examples": [
              [
                "openai/gpt-4.1",
                "anthropic/claude-sonnet-4"
              ]
            ]
          },
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "A subset of the agent's linked tests to benchmark. Each ID must be linked to the agent. Omit to run all linked tests",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "models"
        ],
        "title": "BenchmarkRequest"
      },
      "BenchmarkStatusResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Benchmark run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the run"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunEvaluator"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "The evaluators used in this run. Each verdict in `judge_results` links to one of these by `evaluator_uuid`"
          },
          "model_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ModelResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Results",
            "description": "Results for each model"
          },
          "leaderboard_summary": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Leaderboard comparing the models, one row per model. Columns vary by benchmark: a `model` column plus pass/fail counts, latency, cost, and one score column per evaluator, keyed by evaluator name",
            "examples": [
              [
                {
                  "cost": 0.0021,
                  "failed": 2,
                  "helpfulness": 0.92,
                  "latency_p50": 480,
                  "model": "openai/gpt-4.1",
                  "passed": 8,
                  "safety": 1.0
                },
                {
                  "cost": 0.0034,
                  "failed": 1,
                  "helpfulness": 0.95,
                  "latency_p50": 520,
                  "model": "anthropic/claude-sonnet-4",
                  "passed": 9,
                  "safety": 1.0
                }
              ]
            ]
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "BenchmarkStatusResponse"
      },
      "BulkCreateItemsResponse": {
        "properties": {
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "IDs of every item the request resolved to, in request order",
            "examples": [
              [
                "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "How many items the request resolved to"
          },
          "new_item_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Item Ids",
            "description": "IDs of the items that were newly created"
          },
          "existing_item_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Existing Item Ids",
            "description": "IDs of items that already existed by name and were reused"
          },
          "annotation_job_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Annotation Job Id",
            "description": "ID of the labelling job that holds the annotations you provided, present only when you send annotations with the items"
          }
        },
        "type": "object",
        "required": [
          "item_ids",
          "count"
        ],
        "title": "BulkCreateItemsResponse"
      },
      "BulkItemsRequest": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AnnotationItemPayload"
            },
            "type": "array",
            "title": "Items",
            "description": "Items to insert. Insertion order is preserved"
          },
          "annotator_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Annotator Id",
            "description": "Annotator these initial annotations belong to. Required when any item carries annotations",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "BulkItemsRequest"
      },
      "BulkTestItem": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test, unique within the workspace and within the batch"
          },
          "conversation_history": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Conversation History",
            "description": "Ordered messages ending at the user turn the agent should answer"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. Used by `response` and `conversation` tests"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ExpectedToolCall"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Expected tool calls. **Required for `tool_call` batches**"
          }
        },
        "type": "object",
        "required": [
          "name",
          "conversation_history"
        ],
        "title": "BulkTestItem"
      },
      "BulkTestUpload": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n\n\nApplied to every test in the batch"
          },
          "tests": {
            "items": {
              "$ref": "#/components/schemas/BulkTestItem"
            },
            "type": "array",
            "title": "Tests",
            "description": "Test items to create, at most 500 per request, with names unique within the batch"
          },
          "agent_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Uuids",
            "description": "IDs of agents to link every created test to. Omit to link none",
            "examples": [
              [
                "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
              ]
            ]
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language",
            "description": "Language written to each test's `config.settings.language`. Omit to leave unset"
          }
        },
        "type": "object",
        "required": [
          "type",
          "tests"
        ],
        "title": "BulkTestUpload"
      },
      "BulkTestUploadResponse": {
        "properties": {
          "uuids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Uuids",
            "description": "IDs of the created tests, in request order",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of tests created"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Non-fatal issues, such as agents some tests could not be linked to"
          }
        },
        "type": "object",
        "required": [
          "uuids",
          "count",
          "message"
        ],
        "title": "BulkTestUploadResponse"
      },
      "BulkUpdateItemsRequest": {
        "properties": {
          "updates": {
            "items": {
              "$ref": "#/components/schemas/ItemUpdatePayload"
            },
            "type": "array",
            "title": "Updates",
            "description": "The new payload for each item you're updating. Entries not in this task, or referencing deleted items, are skipped"
          }
        },
        "type": "object",
        "required": [
          "updates"
        ],
        "title": "BulkUpdateItemsRequest"
      },
      "BulkUpdateItemsResponse": {
        "properties": {
          "updated_count": {
            "type": "integer",
            "title": "Updated Count",
            "description": "How many items were updated"
          }
        },
        "type": "object",
        "required": [
          "updated_count"
        ],
        "title": "BulkUpdateItemsResponse"
      },
      "ChatMessage": {
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "tool"
            ],
            "title": "Role",
            "description": "Message author role in the conversation history"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Message text. Omit for assistant messages that only carry `tool_calls`"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Tool calls issued by the assistant. Omit for plain text turns"
          },
          "tool_call_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Call Id",
            "description": "ID of the tool call this message responds to. **Required for `role=tool`**"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Tool name for `role=tool` messages. Omit otherwise"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatMessage"
      },
      "EvaluatorCreate": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "Evaluator name, unique within your workspace"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description. Omit to leave blank"
          },
          "evaluator_type": {
            "type": "string",
            "enum": [
              "tts",
              "stt",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Evaluator Type",
            "description": "What the evaluator judges:\n\n- `tts`: TTS audio\n- `stt`: one transcript\n- `llm`: a reply with its conversation history\n- `llm-general`: a standalone input and output pair\n- `conversation`: a full conversation\n",
            "default": "llm"
          },
          "data_type": {
            "type": "string",
            "enum": [
              "text",
              "audio"
            ],
            "title": "Data Type",
            "description": "The modality the judge reads:\n\n- `text`\n- `audio`\n",
            "default": "text"
          },
          "output_type": {
            "type": "string",
            "enum": [
              "binary",
              "rating"
            ],
            "title": "Output Type",
            "description": "How the evaluator scores:\n\n- `binary`: pass or fail\n- `rating`: a numeric score, using the scale in `output_config`\n",
            "default": "binary"
          },
          "version": {
            "$ref": "#/components/schemas/EvaluatorVersionCreate",
            "description": "The evaluator's first version. Set as live when you create the evaluator"
          }
        },
        "type": "object",
        "required": [
          "name",
          "version"
        ],
        "title": "EvaluatorCreate"
      },
      "EvaluatorCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the created evaluator",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "version_uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Version Uuid",
            "description": "ID of its initial version",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "version_uuid"
        ],
        "title": "EvaluatorCreateResponse"
      },
      "EvaluatorDetailResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Evaluator ID",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Evaluator name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "What the evaluator checks"
          },
          "evaluator_type": {
            "type": "string",
            "enum": [
              "tts",
              "stt",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Evaluator Type",
            "description": "What the evaluator judges:\n\n- `tts`: TTS audio\n- `stt`: one transcript\n- `llm`: a reply with its conversation history\n- `llm-general`: a standalone input and output pair\n- `conversation`: a full conversation\n"
          },
          "data_type": {
            "type": "string",
            "enum": [
              "text",
              "audio"
            ],
            "title": "Data Type",
            "description": "The modality the judge reads:\n\n- `text`\n- `audio`\n"
          },
          "output_type": {
            "type": "string",
            "enum": [
              "binary",
              "rating"
            ],
            "title": "Output Type",
            "description": "How the evaluator scores:\n\n- `binary`: pass or fail\n- `rating`: a numeric score, using the scale in `output_config`\n"
          },
          "is_default": {
            "type": "boolean",
            "title": "Is Default",
            "description": "True for a built-in default evaluator, which you can't edit. False for an evaluator you created, which you can edit and add versions to"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug",
            "description": "Stable slug for a built-in default evaluator"
          },
          "live_version_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Version Id",
            "description": "ID of the version that is currently live",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the evaluator was created (ISO 8601 UTC)"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At",
            "description": "When the evaluator was last updated (ISO 8601 UTC)"
          },
          "versions": {
            "items": {
              "$ref": "#/components/schemas/EvaluatorVersionResponse"
            },
            "type": "array",
            "title": "Versions",
            "description": "Full version history, oldest first"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "name",
          "evaluator_type",
          "data_type",
          "output_type",
          "is_default",
          "created_at",
          "updated_at",
          "versions"
        ],
        "title": "EvaluatorDetailResponse"
      },
      "EvaluatorLinkRequest": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Evaluator Id",
            "description": "The evaluator to link. Must be one you created or a built-in default",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          }
        },
        "type": "object",
        "required": [
          "evaluator_id"
        ],
        "title": "EvaluatorLinkRequest"
      },
      "EvaluatorLinkResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation that the evaluator was linked",
            "examples": [
              "Evaluator linked to annotation task"
            ]
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "EvaluatorLinkResponse"
      },
      "EvaluatorRunLaunchResponse": {
        "properties": {
          "job_uuid": {
            "type": "string",
            "title": "Job Uuid",
            "description": "ID of the evaluator-run job. Poll it for status and results",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress"
            ],
            "title": "Status",
            "description": "Status of the job right after you launch it"
          },
          "evaluator_count": {
            "type": "integer",
            "title": "Evaluator Count",
            "description": "How many evaluators the job will run"
          },
          "item_count": {
            "type": "integer",
            "title": "Item Count",
            "description": "How many items the job will run on"
          }
        },
        "type": "object",
        "required": [
          "job_uuid",
          "status",
          "evaluator_count",
          "item_count"
        ],
        "title": "EvaluatorRunLaunchResponse"
      },
      "EvaluatorRunRequestEntry": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Evaluator Id",
            "description": "Evaluator ID to run. Must be linked to the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "evaluator_version_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Version Id",
            "description": "Evaluator version ID to run. Omit to use the evaluator's live version",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          }
        },
        "type": "object",
        "required": [
          "evaluator_id"
        ],
        "title": "EvaluatorRunRequestEntry"
      },
      "EvaluatorRunResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "title": "Uuid",
            "description": "ID of the evaluator-run job",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Task Id",
            "description": "ID of the task the job ran on"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed"
            ],
            "title": "Status",
            "description": "Current status of the job"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Failure reason, present when the job failed"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "When the job finished (ISO 8601 UTC)"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The evaluators the job ran, each pinned to the version it used, with that version's rubric"
          },
          "runs": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "One result per item and evaluator. Each keys back to `evaluators` by its evaluator and version IDs"
          },
          "human_agreement": {
            "additionalProperties": true,
            "type": "object",
            "description": "How each evaluator's judgements line up with the human annotations on the same items"
          },
          "items": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The exact item set the job ran on, frozen when the job started"
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly"
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "uuid",
          "task_id",
          "status",
          "error",
          "completed_at",
          "evaluators",
          "runs",
          "human_agreement",
          "items",
          "is_public",
          "share_token"
        ],
        "title": "EvaluatorRunResponse"
      },
      "EvaluatorRunStartRequest": {
        "properties": {
          "evaluators": {
            "items": {
              "$ref": "#/components/schemas/EvaluatorRunRequestEntry"
            },
            "type": "array",
            "title": "Evaluators",
            "description": "The evaluators to run. Each must be linked to the task"
          },
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "Item IDs to run on. **Required when `select_all=false`**. Ignored when `select_all=true`",
            "default": []
          },
          "select_all": {
            "type": "boolean",
            "title": "Select All",
            "description": "When `true`, run on every item in the task. Set `q` to run only items whose name matches it",
            "default": false
          },
          "q": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Q",
            "description": "Case-insensitive substring filter on `payload.name`. Applies only when `select_all=true`"
          }
        },
        "type": "object",
        "required": [
          "evaluators"
        ],
        "title": "EvaluatorRunStartRequest"
      },
      "EvaluatorVersionCreate": {
        "properties": {
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Judge system prompt. May contain `{{variable}}` placeholders"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables. Omit if the prompt has no `{{placeholders}}`"
          }
        },
        "type": "object",
        "required": [
          "judge_model",
          "system_prompt"
        ],
        "title": "EvaluatorVersionCreate",
        "description": "One version of an evaluator: its judge prompt, model, variables, and rubric."
      },
      "EvaluatorVersionCreateRequest": {
        "properties": {
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Judge system prompt. May contain `{{variable}}` placeholders"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables. Omit if the prompt has none. After the first version the variable names are fixed. You can change a variable's description or default, but not add, remove, or rename one"
          },
          "make_live": {
            "type": "boolean",
            "title": "Make Live",
            "description": "When `true`, immediately point the evaluator's live version at this new version",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "judge_model",
          "system_prompt"
        ],
        "title": "EvaluatorVersionCreateRequest",
        "description": "Request body for adding a version to an existing evaluator."
      },
      "EvaluatorVersionResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "Version ID",
            "examples": [
              "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            ]
          },
          "version_number": {
            "type": "integer",
            "title": "Version Number",
            "description": "The version's number. The first version is 1, and it goes up by one for each new version of the evaluator"
          },
          "judge_model": {
            "type": "string",
            "title": "Judge Model",
            "description": "The model that runs the judge, named the way its provider does, for example `openai/gpt-4.1` or `anthropic/claude-sonnet-4`"
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "Judge system prompt, with `{{variable}}` placeholders unrendered"
          },
          "output_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "The scale points and their labels. Required for a `rating` evaluator. A `binary` evaluator uses the default Correct/Wrong labels unless you set your own"
          },
          "variables": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableSpec"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Declared prompt variables"
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "When the version was created (ISO 8601 UTC)"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "version_number",
          "judge_model",
          "system_prompt",
          "created_at"
        ],
        "title": "EvaluatorVersionResponse"
      },
      "ExpectedToolCall": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "Name of the tool the agent is expected to call"
          },
          "arguments": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Expected argument values, diffed against the generated call. Omit to expect no arguments"
          },
          "accept_any_arguments": {
            "type": "boolean",
            "title": "Accept Any Arguments",
            "description": "When `true`, only the tool name must match and `arguments` is ignored",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "ExpectedToolCall"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HumanAgreementBlock": {
        "properties": {
          "current": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current",
            "description": "Current mean pairwise agreement among annotators"
          },
          "pair_count": {
            "type": "integer",
            "title": "Pair Count",
            "description": "How many annotator pairs the current value averages over"
          },
          "series": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "Agreement over time, one point per time bucket"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "current",
          "pair_count",
          "series"
        ],
        "title": "HumanAgreementBlock"
      },
      "ItemUpdatePayload": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the item to update",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "payload": {
            "title": "Payload",
            "description": "The item's new payload. `payload['name']` is still required and must be unique within the task"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "payload"
        ],
        "title": "ItemUpdatePayload"
      },
      "JudgeResult": {
        "properties": {
          "evaluator_uuid": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 36,
                "minLength": 36
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluator Uuid",
            "description": "ID of the evaluator that produced this verdict"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "The judge's rationale for this verdict"
          },
          "match": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Match",
            "description": "Pass/fail verdict, set for binary evaluators"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score",
            "description": "Numeric score, set for rating evaluators"
          },
          "value_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Value Name",
            "description": "Readable label for the verdict, taken from the run's rubric"
          },
          "variable_values": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Values filled into the evaluator prompt's `{{variable}}` placeholders for this test case, keyed by variable name",
            "examples": [
              {
                "criteria": "Is the reply correct and helpful?"
              }
            ]
          }
        },
        "type": "object",
        "title": "JudgeResult"
      },
      "ModelResult": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model name these results are for",
            "examples": [
              "openai/gpt-4.1"
            ]
          },
          "success": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Success",
            "description": "Whether this model's run succeeded"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Status or result message for this model"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total test cases for this model"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed"
          },
          "evaluator_summary": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregate summary for each evaluator for this model"
          },
          "test_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Results",
            "description": "Results for each test case for this model"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated latency in milliseconds, as `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost as `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage as `{mean, min, max, count}`"
          }
        },
        "type": "object",
        "required": [
          "model",
          "message"
        ],
        "title": "ModelResult"
      },
      "OutputConfig": {
        "properties": {
          "scale": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/OutputScaleEntry"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale",
            "description": "The ordered scale points that make up the rubric, each with its label"
          }
        },
        "type": "object",
        "title": "OutputConfig"
      },
      "OutputScaleEntry": {
        "properties": {
          "value": {
            "title": "Value",
            "description": "The value for this scale point. Use a boolean for a `binary` evaluator, a number for a `rating` one"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Short label for this scale point"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Rubric text for this level, added to the judge prompt. Omit to leave this level undescribed"
          },
          "color": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Color",
            "description": "Color to show for this level. Omit for the default"
          }
        },
        "type": "object",
        "required": [
          "value",
          "name"
        ],
        "title": "OutputScaleEntry",
        "description": "One entry in an evaluator's output_config.scale. `value` is bool|number|string\ndepending on output_type."
      },
      "PaginationMeta": {
        "properties": {
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of items that match, across all pages"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Maximum number of items returned in this page"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Number of items skipped before this page"
          }
        },
        "type": "object",
        "required": [
          "total",
          "limit",
          "offset"
        ],
        "title": "PaginationMeta"
      },
      "ResolveAgentNamesRequest": {
        "properties": {
          "names": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Names",
            "description": "Agent names to resolve to IDs",
            "examples": [
              [
                "my-agent",
                "support-bot"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "names"
        ],
        "title": "ResolveAgentNamesRequest"
      },
      "ResolveAgentNamesResponse": {
        "properties": {
          "resolved": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "description": "Map of name to agent ID for each name that matched"
          },
          "not_found": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Names with no matching agent in your workspace"
          }
        },
        "type": "object",
        "required": [
          "resolved",
          "not_found"
        ],
        "title": "ResolveAgentNamesResponse"
      },
      "RunTestRequest": {
        "properties": {
          "test_uuids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Uuids",
            "description": "Tests to run. Omit to run all tests linked to the agent",
            "examples": [
              [
                "b1c2d3e4-f5a6-7890-bcde-f12345678901"
              ]
            ]
          }
        },
        "type": "object",
        "title": "RunTestRequest"
      },
      "TaskAgreementResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "ID of the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "bucket": {
            "type": "string",
            "title": "Bucket",
            "description": "Time bucket used for the trend series"
          },
          "days": {
            "type": "integer",
            "title": "Days",
            "description": "Length of the trailing window in days"
          },
          "human_human": {
            "$ref": "#/components/schemas/HumanAgreementBlock",
            "description": "Agreement between annotators who labelled the same items"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "Agreement between each evaluator and the annotators, one entry per linked evaluator"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "task_id",
          "bucket",
          "days",
          "human_human",
          "evaluators"
        ],
        "title": "TaskAgreementResponse"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "cancelled",
          "done",
          "failed"
        ],
        "title": "TaskStatus"
      },
      "TaskSummaryResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "ID of the task",
            "examples": [
              "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            ]
          },
          "task_type": {
            "type": "string",
            "enum": [
              "stt",
              "tts",
              "llm",
              "llm-general",
              "conversation"
            ],
            "title": "Task Type",
            "description": "Type of the task"
          },
          "evaluators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The task's evaluators, stable across pages, each with its live rubric"
          },
          "annotators": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "The annotators who labelled or commented on items in the task, stable across pages"
          },
          "rows": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "description": "One row per item, evaluator, and version on this page, with the evaluator's value and each annotator's label"
          },
          "item_comments": {
            "additionalProperties": true,
            "type": "object",
            "description": "Annotator comments, keyed by item ID"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta",
            "description": "Where this page sits in the full item list"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "task_id",
          "task_type",
          "evaluators",
          "annotators",
          "rows",
          "item_comments",
          "pagination"
        ],
        "title": "TaskSummaryResponse"
      },
      "TestCaseResult": {
        "properties": {
          "test_case_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Test Case Id",
            "description": "ID of the test case within the run"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Name of the test"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Whether the case passed"
          },
          "reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning",
            "description": "The judge's reasoning, or the tool-call diff for a tool-call test"
          },
          "output": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestOutput"
              },
              {
                "type": "null"
              }
            ],
            "description": "The agent's output for this case"
          },
          "test_case": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The test case definition that was run"
          },
          "judge_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/JudgeResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Judge Results",
            "description": "One verdict for each evaluator"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms",
            "description": "How long the agent took to respond, in milliseconds"
          },
          "cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost",
            "description": "Cost of this case (USD)"
          }
        },
        "type": "object",
        "title": "TestCaseResult"
      },
      "TestCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the test, unique within the workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "response",
              "tool_call",
              "conversation"
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The calibrate test config. Three top-level keys.\n\n- `history`: the required conversation up to the agent's turn. Each item is `{role, content}` with `role` one of `user`, `assistant`, `tool`. A `tool` message also carries `tool_call_id` and `name`.\n- `evaluation`: the required `{type, ...}`, where `type` matches the test's `type` below.\n- `settings`: an optional object, e.g. `{\"language\": \"en\"}`.\n\n`evaluation` by test type:\n- `response`: judge the agent's reply, graded by the linked evaluators. `{\"type\": \"response\"}`\n- `conversation`: append the reply and judge the whole conversation. `{\"type\": \"conversation\"}`\n- `tool_call`: diff the agent's tool calls against expected ones. Add `tool_calls`, a list of `{tool, arguments, accept_any_arguments?}`.\n\nFor `tool_call`, each expected argument value is one of:\n- `{\"match_type\": \"exact\", \"value\": <any>}`: must equal `value`\n- `{\"match_type\": \"llm_judge\", \"criteria\": \"...\"}`: judged against the criteria\n- `{\"match_type\": \"any\"}`: any value, only checks the argument was passed\n\n`response` / `conversation` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"What is your return policy?\"}],\n  \"evaluation\": {\"type\": \"response\"},\n  \"settings\": {\"language\": \"en\"}\n}\n```\n\n`tool_call` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"Book room 101 for tomorrow\"}],\n  \"evaluation\": {\n    \"type\": \"tool_call\",\n    \"tool_calls\": [\n      {\n        \"tool\": \"book_room\",\n        \"arguments\": {\n          \"room\": {\"match_type\": \"exact\", \"value\": \"101\"},\n          \"date\": {\"match_type\": \"llm_judge\", \"criteria\": \"tomorrow's date\"}\n        },\n        \"accept_any_arguments\": false\n      }\n    ]\n  }\n}\n```\n\nEvaluators are linked via the separate `evaluators` field, not inside `config`.\n\nOmit to create the test with no config and fill it in later via update",
            "examples": [
              {
                "evaluation": {
                  "type": "response"
                },
                "history": [
                  {
                    "content": "What is your return policy?",
                    "role": "user"
                  }
                ],
                "settings": {
                  "language": "en"
                }
              }
            ]
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "Evaluators to link. Used by `response` and `conversation` tests"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "TestCreate"
      },
      "TestCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Uuid",
            "description": "ID of the newly created test",
            "examples": [
              "b1c2d3e4-f5a6-7890-bcde-f12345678901"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message"
          }
        },
        "type": "object",
        "required": [
          "uuid",
          "message"
        ],
        "title": "TestCreateResponse"
      },
      "TestOutput": {
        "properties": {
          "response": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response",
            "description": "The reply the agent generated"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ToolCallOutput"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls",
            "description": "Tool calls the agent generated"
          }
        },
        "type": "object",
        "title": "TestOutput"
      },
      "TestRunEvaluator": {
        "properties": {
          "uuid": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uuid",
            "description": "ID of the evaluator"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Name of the evaluator"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "What the evaluator checks"
          },
          "output_type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "binary",
                  "rating"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Type",
            "description": "The shape of the verdict:\n- `binary`: a pass/fail verdict\n- `rating`: a numeric score"
          },
          "output_config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The rubric: the scale values, labels, and colors a verdict maps to",
            "examples": [
              {
                "scale": [
                  {
                    "color": "#e5484d",
                    "name": "Wrong",
                    "value": false
                  },
                  {
                    "color": "#30a46c",
                    "name": "Correct",
                    "value": true
                  }
                ]
              }
            ]
          },
          "scale_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale Min",
            "description": "Lowest value on a rating scale"
          },
          "scale_max": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scale Max",
            "description": "Highest value on a rating scale"
          },
          "version_number": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Version Number",
            "description": "The evaluator version this run used"
          }
        },
        "type": "object",
        "title": "TestRunEvaluator"
      },
      "TestRunStatusResponse": {
        "properties": {
          "task_id": {
            "type": "string",
            "maxLength": 36,
            "minLength": 36,
            "title": "Task Id",
            "description": "Test run job ID",
            "examples": [
              "a3b2c1d0-e5f4-3210-abcd-ef1234567890"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus",
            "description": "Current status of the run"
          },
          "total_tests": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tests",
            "description": "Total number of test cases"
          },
          "passed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed",
            "description": "Number of test cases that passed"
          },
          "failed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed",
            "description": "Number of test cases that failed"
          },
          "latency_ms": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated response latency in milliseconds, as `{p50, p95, p99, count}`"
          },
          "cost": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated cost as `{mean, min, max, count}` (USD)"
          },
          "total_tokens": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aggregated token usage as `{mean, min, max, count}`"
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestRunEvaluator"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Evaluators",
            "description": "The evaluators used in this run. Each verdict in `judge_results` links to one of these by `evaluator_uuid`"
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TestCaseResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Results",
            "description": "Results for each test case"
          },
          "error": {
            "type": "boolean",
            "title": "Error",
            "description": "True if the run failed",
            "default": false
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "description": "Whether the run is shared publicly",
            "default": false
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Token for building the public share URL"
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "status"
        ],
        "title": "TestRunStatusResponse"
      },
      "TestUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "New test name. Omit to leave unchanged"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "response",
                  "tool_call",
                  "conversation"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Type",
            "description": "What the test judges:\n\n- `response`: judges the generated reply\n- `tool_call`: diffs the generated tool calls\n- `conversation`: judges the full conversation\n\n\nImmutable. Omit it, or send the current value"
          },
          "config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The calibrate test config. Three top-level keys.\n\n- `history`: the required conversation up to the agent's turn. Each item is `{role, content}` with `role` one of `user`, `assistant`, `tool`. A `tool` message also carries `tool_call_id` and `name`.\n- `evaluation`: the required `{type, ...}`, where `type` matches the test's `type` below.\n- `settings`: an optional object, e.g. `{\"language\": \"en\"}`.\n\n`evaluation` by test type:\n- `response`: judge the agent's reply, graded by the linked evaluators. `{\"type\": \"response\"}`\n- `conversation`: append the reply and judge the whole conversation. `{\"type\": \"conversation\"}`\n- `tool_call`: diff the agent's tool calls against expected ones. Add `tool_calls`, a list of `{tool, arguments, accept_any_arguments?}`.\n\nFor `tool_call`, each expected argument value is one of:\n- `{\"match_type\": \"exact\", \"value\": <any>}`: must equal `value`\n- `{\"match_type\": \"llm_judge\", \"criteria\": \"...\"}`: judged against the criteria\n- `{\"match_type\": \"any\"}`: any value, only checks the argument was passed\n\n`response` / `conversation` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"What is your return policy?\"}],\n  \"evaluation\": {\"type\": \"response\"},\n  \"settings\": {\"language\": \"en\"}\n}\n```\n\n`tool_call` example:\n```json\n{\n  \"history\": [{\"role\": \"user\", \"content\": \"Book room 101 for tomorrow\"}],\n  \"evaluation\": {\n    \"type\": \"tool_call\",\n    \"tool_calls\": [\n      {\n        \"tool\": \"book_room\",\n        \"arguments\": {\n          \"room\": {\"match_type\": \"exact\", \"value\": \"101\"},\n          \"date\": {\"match_type\": \"llm_judge\", \"criteria\": \"tomorrow's date\"}\n        },\n        \"accept_any_arguments\": false\n      }\n    ]\n  }\n}\n```\n\nEvaluators are linked via the separate `evaluators` field, not inside `config`.\n\nReplaces the stored config. Omit to leave unchanged",
            "examples": [
              {
                "evaluation": {
                  "type": "response"
                },
                "history": [
                  {
                    "content": "What is your return policy?",
                    "role": "user"
                  }
                ],
                "settings": {
                  "language": "en"
                }
              }
            ]
          },
          "evaluators": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/routers__tests__EvaluatorRef"
                },
                "type": "array"
              },
[...]
